html {
    height: 100vh;
    width: 100vw;
}
body {
    background-color: black;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: orange;
    text-align: center;
    font-weight: bold;
    font-size: 4rem;
    margin: 0;
    width: 100%;
    max-height: 10vh;
    flex: 1;
}
.scoreBoard{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 20vw;
    background-color: orange;
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
    margin: 0;
    flex: 1;
}

.board{
    display: grid;
    background-color: white;
    color: white;
    justify-self: center;
    margin-top: 10vh;
    height: 50vh;
    width: 30vw;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3,1fr);
}

.tile{
    color: orange;
    border: 1px solid black;
    cursor: pointer;
}

form{
    display: flex;
    flex-direction: column;
}

dialog * {
    gap: 2vh;
}

form .closeBtn {
    width: 20%;
}

form .inputs {
    display: flex;
    flex-direction: column;
}

form label {
    padding-right: 1vw;
}

/* form .closeDialog {
    display: flex;
    justify-content: flex-end;
} */


.innerEnder {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}



.tile {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    color: black;
}